.button {
    margin: 0;
    text-align: left;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    color: #051320;
    font-weight: bold;
    font-size: 14px;
}

.button:hover {
    text-decoration: underline;
}