.imageIcon {
    float: left;
    font-size: 25px;
    rotate: 90deg;
    color: #051320;
    margin: 0 auto;
    margin-top: 12.5px;
}

.name {
    vertical-align: middle;
    margin: 0;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #051320;
    float: left;
    margin-top: 15px;
}

